<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发表评价</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.poppicker.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<style type="text/css">
			.imgbox {
				width: 100%;
				height: 0;
				padding-bottom: 100%;
				background: no-repeat center center;
				background-size: cover;
			}
			
			.mui-icon .mui-badge {
				padding: 1px 3px;
				background-color: darkgray;
				left: auto;
				right: 0;
				top: 0;
				margin-top: -7px;
				margin-right: -2px;
			}
			
			.x-percent2 {
				float: none;
				padding-bottom: 0.2rem;
				padding-right: 5px;
			}
			
			.fileimg {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		</style>
	</head>

	<body>
		<div id="comment" class="comment" style="height: 100%;">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">{{pageTitle[language]}}</h1>
				<a class="mui-pull-right submit" @tap="submitComment">{{submitbutton[language]}}</a>
			</header>
			<div class="mui-content" style="height: 100%;">
				<ul class="mui-row border-bottom relative clearfix" style="background-color: white;padding: 0.2rem 0.2rem 0;">
					<li class="x-col3">
						<div class="imgbox" :style="{backgroundImage: 'url('+tradesMsg.img+')'}"></div>
					</li>
					<li class="x-col9" style="padding-left: 0.2rem;">
						<p class="title">{{tradesMsg.title}}</p>
						<p class="shops">x{{tradesMsg.num}}</p>
					</li>
				</ul>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<a href="#" class="mui-navigate-right"id="openSelect">
							{{reason[language]}}
							<span class="mui-pull-right"></span>
						</a>
					</li>
					<li class="mui-table-view">
						<div class="mui-input-row">
							<label>{{instructions[language]}}:</label>
							<input type="text" v-model="explain" class="mui-input-clear" :placeholder="placeholder[language]">
						</div>
					</li>
					<!--<li class="mui-table-view">
						<span class="mui-table-view-cell">
							{{Upload[language]}}
						</span>
						<ul class="clearfix" style="padding: 0.2rem;">
							<li>
								<div class="camera relative" style="margin: 0;">
									<span class="iconfont icon-camera"></span>
									<p>{{addImg[language]}}</p>
									<input id="upload_file" name="file" accept="image/*" class="fileimg" type="file" @change="updateHeadImage" />
								</div>
							</li>
							<li v-for="item in imagesArr" class="x-percent2 relative mui-icon">
								<div class="imgbox" :style="{backgroundImage: 'url('+item.path+')'}"></div>
							</li>
						</ul>
					</li>-->
				</ul>
			</div>
			<div id="openSelectList" class="ui-alert"></div>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#comment',
				data: {
					language: localStorage.choose,
					userId: sessionStorage.user,
					tradeIndex: location.search.split('index=')[1],
					tradesMsg: {
						orderid: location.search.split('?orderid=')[1].split('&')[0],
						goodsId: '',
						img: "",
						title: '',
						num: '',
						refund_money: '',
						num: '',
						type: '1',
						kindsId:''
					},
					explain: '',
					pageTitle: ['申请退换货', 'Apply for return and exchange', '払い戻しを申請する。'],
					submitbutton: ['提交', 'publish', '敷いた'],
					placeholder: ['选填', 'Certificate', '選挙を埋め'],
					myComment: '',
					Axios: null,
					imagesArr: [],
					imgPathArr: [],
					addImg: ['添加图片', 'add Image', '写真を追加する'],
					tips1: ['温馨提示', 'warm prompt', '暖かいヒント'],
					tips2: ['申请成功', 'application approved', '成功を申し込む'],
					del: ['删除', 'delete', 'ちょうはいする'],
					reason: ['换货原因', 'reason', '買い替えの原因'],
					instructions: ['换货说明', 'instructions', '両替説明'],
					Upload: ['上传凭证', 'Upload documents', '信用証明書をつける'],
					select1:['退货','sales return','へんぴん'],
					select2:['退款','refund','払い戻し'],
					select3:['换货','物品を取り換える','物品を取り換える'],
					datas: null
				},
				mounted: function() {
					var that = this;
					document.getElementById('startLoading').style.display = 'none';
					mui.init({
						swipeBack: false
					});
					mui('.mui-scroll-wrapper').scroll({
						indicators: true //是否显示滚动条
					});
					that.Axios = axios.create({
						baseURL: 'http://demo2.ruanwe.com/',
						timeout: 5000,
						headers: {
							'X-Requested-With': 'XMLHttpRequest'
						}
					});
					//datas
					var datas = JSON.parse(sessionStorage.ordergoods);
					//var datas = JSON.parse('{"name":"10201809021323501535865830","addressId":93,"express_code":"","express_sn":null,"pay_code":"paypal","trades":[{"goodsId":106,"orderId":93,"title":"恒欣 硝苯地平缓释片(Ⅰ) 10mg*60s","img":"http://demo2.ruanwe.com/storage/images/P43hYzlMegzrkw1BC3M56JDcLSW2YfiesmjOjlNe.jpeg","unitprice":"9.00","numbers":1,"goods_spec_item_id":0},{"goodsId":65,"orderId":93,"title":"钙尔奇D 碳酸钙D3咀嚼片(Ⅱ) 300mg*30片","img":"http://demo2.ruanwe.com/storage/images/WGgSsjaWcafJJRN0qNthgiek0QMoQuhSVaFsoJQt.jpeg","unitprice":"220.00","numbers":1,"goods_spec_item_id":0}],"totalPrice":"229.00","buttonIndex":1,"numbers":2}');
					that.tradesMsg.img = datas.trades[that.tradeIndex].img;
					that.tradesMsg.title = datas.trades[that.tradeIndex].title;
					that.tradesMsg.num = datas.trades[that.tradeIndex].numbers;
					that.tradesMsg.goodsId = datas.trades[that.tradeIndex].goods_id;
					that.tradesMsg.refund_money = datas.trades[that.tradeIndex].unitprice;
					that.tradesMsg.kindsId = datas.trades[that.tradeIndex].goods_spec_item_id;
					
					console.log(datas.trades[that.tradeIndex]);
					
					var userPicker = new mui.PopPicker();
					userPicker.setData([{
						value: '3',
						text: that.select1[that.language]
					}, {
						value: '2',
						text: that.select2[that.language]
					}, {
						value: '1',
						text: that.select3[that.language]
					}]);
					var showUserPickerButton = document.getElementById('openSelect');
					var userResult = document.getElementById('openSelectList');
					showUserPickerButton.addEventListener('tap', function(event) {
						userPicker.show(function(items) {
							that.tradesMsg.type=items[0].value;
							console.log(that.tradesMsg.type)
							userResult.innerText = JSON.stringify(items[0]);
						});
					}, false);
					
				},
				methods: {
					updateHeadImage: function() {
						var that = this;
						var file = document.getElementById('upload_file').files[0];
						r = new FileReader(); //本地预览;
						r.readAsDataURL(file); //调用readAsDataURL方法来读取选中的图像文件 
						r.onload = function(e) {
							var base64URL = this.result;
							var blob = that.convertBase64UrlToBlob(base64URL, 'image/jpeg');
							var formData = new FormData();
							formData.append('file', blob);
							that.Axios.post('api/file', formData).then(function(r) {
								console.log(r);
								that.imgPathArr.push({
									path: r.data.path
								});
							}).catch(function(r) {
								console.log(r);
							});
						}
					},
					convertBase64UrlToBlob: function(urlData, filetype) {
						//去掉url的头，并转换为byte
						var bytes = window.atob(urlData.split(',')[1]);
						//处理异常,将ascii码小于0的转换为大于0
						var ab = new ArrayBuffer(bytes.length);
						var ia = new Int8Array(ab);
						var i;
						for(i = 0; i < bytes.length; i++) {
							ia[i] = bytes.charCodeAt(i);
						}
						return new Blob([ab], {
							type: filetype
						});
					},
					submitComment: function() {
						var that = this;
						this.Axios.post('api/returnGoods', {
							api_token: that.userId,
							"order_id": that.tradesMsg.orderid,
							"goods_id": that.tradesMsg.goods_id,
							"reason": that.explain,
							"refund_money": that.tradesMsg.refund_money,
							"type": that.tradesMsg.type,
							"num": that.tradesMsg.num,
							"goods_spec_item_id":that.tradesMsg.kindsId
						}).then(function(r) {
							console.log(r);
							mui.alert(that.tips1[that.language], that.tips2[that.language], function() {
								mui.back();
							});
						}).catch(function(error) {
							console.log(error);
						});
					}
				}
			});
		</script>
	</body>

</html>