<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>分类</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body style="overflow: hidden;">
		<div id="list" class="list">
			<header class="mui-bar mui-bar-nav" style="position: static;">
				<h1 class="mui-title">
				<input type="text" class="x-search" :placeholder="searchPlaceholder[language]">
				<button class="searchbutton" @tap="toSearch">{{searchButton[language]}}</button>
			</h1>
			</header>
			<div class="mui-content mui-row mui-fullscreen" style="height: calc(100% - 104px);position: static;padding-top: 0;overflow: auto;">
				<div class="mui-col-xs-3" style="background-color: #F2F2F2;">
					<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical" style="width: 100%;">
						<a v-for="(item,index) in list" class="mui-control-item" :href="'#content'+item.id" :class="activeIndex===index&&'mui-active'" @touchstart="changeTab(index)">{{item.title}}</a>
					</div>
				</div>
				<div id="segmentedControlContents" class="mui-col-xs-9">
					<div v-for="(item,index) in list" :id="'content'+item.id" class="mui-control-content" :class="activeIndex===index&&'mui-active'">
						<ul v-if="!isLoading" class="mui-table-view" style="padding: 0 0.2rem;height: 100%;">
							<li v-if="item1.stores&&item1.stores.length" v-for="item1 in item.classify" class="mui-table-view-cell itemli">
								<h4>{{item1.title}}</h4>
								<ul class="clearfix itembox">
									<li v-for="item2 in item1.stores" class="x-col4">
										<a :href="item2.link" style="width: 100%;">
											<div class="list-imgbox" :style="{backgroundImage:item2.img}"></div>
											<p>{{item2.title}}</p>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<div v-else class="mui-loading">
							<div class="mui-spinner"></div>
						</div>
					</div>
				</div>
			</div>
			<footer class="clearfix footnav" style="position: static;">
				<div v-for="(item,index) in menu" class="x-col3" :class="index===1&&'active'">
					<a :href="item.link">
						<span class="mui-icon iconfont relative" :class="item.iconfont">
							<span v-if="index===2&&cartNum" class="mui-badge">{{cartNum}}</span>
						</span>
						<p>{{item.title[language]}}</p>
					</a>
				</div>
			</footer>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px;"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/list.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>