<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>物流中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="logisticsCenter" class="logistics-center" style="height: 100%;">
			<header class="mui-bar mui-bar-nav bgwhite">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">{{pageTitle[language]}}</h1>
			</header>
			<div class="mui-content">
				<ul v-if="stores" class="mui-table-view" style="margin-top: 0;">
					<li v-for="itemin in stores" style="padding: 0 15px 11px;">
						<a :href="itemin.link" class="iteminlink">{{itemin.name}} <span class="mui-icon mui-icon-arrowright"></span></a>
						<div v-for="(itemin2,index2) in itemin.trades" class="clearfix itemsin" :style="{borderBottomWidth:(index2===itemin.trades.length-1&&0)}">
							<div class="x-col3 trade-img" :style="{backgroundImage:'url('+itemin2.img+')'}"></div>
							<div class="x-col9">
								<div class="clearfix">
									<h4 class="fl">{{itemin2.title}}</h4>
									<div class="fr tr">
										<span>{{unit[language]+itemin2.unitprice}}</span><br /><span>x {{itemin2.numbers}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="tr" style="padding: 0 0 0.1rem;border-bottom: 1px solid #F1F1F1;margin-bottom: 0.1rem;">
							<span style="padding-right: 0.2rem;">{{tradeText[0][language]+itemin.numbers+tradeText[1][language]}}</span>
							<span>{{tradeText[2][language]+':'}}</span><span class="pricecolor">{{unit[language]+itemin.totalprice}}</span>
						</div>
						<div class="tr">
							<span v-for="(itembtn,i) in buttons" :class="'buttonstyle'+i" style="color: #3399ff;border-color: #3399ff;" @tap="getExpress(itemin)">{{itembtn.name[language]}}</span>
						</div>
					</li>
				</ul>
				<div v-else class="mui-loading">
					<div class="mui-spinner"></div>
				</div>
			</div>
			<p class="tc lh_300">{{allLoad[language]}}</p>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#logisticsCenter',
				data: {
					language: localStorage.choose,
					pageTitle: ['物流中心', 'logistics center', '物流センター'],
					tradeText: [
						['共', 'common', '共に'],
						['件商品', 'piece goods', 'へんしょうひん'],
						['合计', 'total','ごうけい']
					],
					buttons: [{
						name:  ['查看物流','check logistics','物流を調べる']
					}],
					stores: [
						/*{
												name: '木子大药房',
												link: '#',
												trades: [{
													title: '时代峰峻卡进口国画的跟',
													img: 'img/trade.png',
													unitprice: 20,
													numbers: 1
												}],
												numbers: 2,
												totalprice: 40
											}*/
					],
					unit: ['￥', '$', '￥'],
					shops: ['商家：','Shops:','店向き:'],
					allLoad: ['已经全部加载完毕','All loaded','すべてロードされた']
				},
				computed: {
					totalPrice: function() {
						return this.unit[this.language] + (this.orders.price * this.orders.num);
					}
				},
				mounted: function() {
					var that = this;
					document.getElementById('startLoading').style.display='none';
					mui.init({
						swipeBack: false
					});
					that.Axios = axios.create({
						baseURL: 'http://demo2.ruanwe.com/',
						timeout: 12000,
						headers: {
							'X-Requested-With': 'XMLHttpRequest',
							'accept': 'application/json'
						}
					});
					this.Axios.get('api/order', {
						params: {
							api_token: that.userId,
							order_status: '4'
						}
					}).then(function(r) {
						console.log(r);
						r.data.data.forEach(function(item) {
							var j = item.order_goods[0];
							that.stores.push({
								link: 'details.html?id=' + j.goods_id,
								name: item.order_sn,
								goodsId: j.goods_id,
								addressId: item.id,
								express_code: item.express_code,
								express_sn: item.express_sn,
								pay_code: item.pay_code,
								trades: [{
									orderId: j.order_id,
									title: j.goods_name,
									img: j.cover,
									unitprice: j.final_price,
									numbers: j.num
								}],
								numbers: j.num,
								totalPrice: item.total_amount
							});
						});
					}).catch(function(r) {
						console.log(r);
					});
				},
				methods: {
					getExpress: function(itemin) {
						sessionStorage.orderitem = JSON.stringify(itemin);
						mui.openWindow({
							url: 'logistics-msg.html'
						});
					}
				}
			});
		</script>
	</body>

</html>