<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>木子国际药品</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/swiper-4.2.2.min.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="index" class="login index" style="height: 100%;overflow: hidden;">
			<div class="top-search form-control">
				<img class="logo" src="img/logo0.png" />
				<input type="text" v-model="searchValue" :placeholder="searchPlaceholder[language]" @keyup.enter="toSearch" style="margin-bottom: 0;" />
				<button @tap="toSearch" style="top: 9px;">{{searchButton[language]}}</button>
				<span @tap="toCommented" class="iconfont icon-msg qq"></span>
			</div>
			<div style="height: calc(100% - 110px);overflow: auto;">
				<div class="swiper-container indexslide">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in swiper">
							<img :src="item.img" />
						</div>
					</div>
				</div>
				<div class="translate1">
					<nav>
						<ul class="clearfix">
							<li class="x-col4" v-for="(item,index) in nav" :class="(index===1||index===4)?'tc':(index===2||index===5)?'tr':'tl'">
								<a :id="index===2&&'kefu'" :href="item.link" class="inline-block tc" style="width: 100%;">
									<img class="menuico" :src="item.img" />
									<p class="tc" style="height: 32px;">{{item.title[language]}}</p>
								</a>
							</li>
						</ul>
						<dl class="clearfix">
							<dd v-for="item in signs" class="x-percent3"><img :src="item.link" /> {{item.text[language]}}</dd>
						</dl>
					</nav>
					<section class="section1">
						<div>
							<h1>{{tradeTitle1[language]}}</h1>
							<div class="clearfix">
								<div class="x-col4 tc" v-for="item in trades1">
									<a class="inline-block" :href="item.link" style="width: 100%;">
										<!--<img :src="item.img" />-->
										<div class="trade1" :style="{backgroundImage: 'url('+item.img+')'}"></div>
										<h5>{{item.title}}</h5>
										<p style="white-space: nowrap;">{{item.unit}}<span>{{item.price}}</span><s>{{item.unit}}{{item.oldPrice}}</s></p>
									</a>
								</div>
							</div>
						</div>
						<a :href="banners[0].link" style="width: 100%;"><img :src="banners[0].img" style="width: 100%;" /></a>
					</section>
					<section class="section2">
						<div>
							<h1 class="title1">{{tradeTitle2[language]}}</h1>
							<div v-for="(item,index) in trades2" class="clearfix floor0" :class="'floor'+index" :style="{backgroundImage:'url('+item.img+')'}">
								<div class="x-col4">
									<h2>{{item.title}}</h2>
								</div>
								<div class="x-col8" style="font-size: 0;white-space: nowrap;overflow-x: auto;overflow-y: hidden;vertical-align: middle;">
									<div v-for="itemin in item.trades" style="display: inline-block;width: 38%;padding: 0.1rem 0.04rem;box-sizing: border-box;vertical-align: middle;">
										<a class="inline-block" :href="itemin.link">
											<div class="trade0" :style="{backgroundImage: 'url('+itemin.img+')'}"></div>
											<h5>{{itemin.title}}</h5>
											<p>{{itemin.unit}}<span>{{itemin.price}}</span><s>{{itemin.unit}}{{itemin.oldPrice}}</s></p>
										</a>
									</div>
									<div style="display: inline-block;padding: 0.1rem;box-sizing: border-box;font-size: 0.12rem;vertical-align: middle;">
										<a :href="item.link" style="white-space: normal;background-color: unset;">{{readMore[language]}}</a>
									</div>
								</div>
							</div>
						</div>
						<a :href="banners[1].link" style="width: 100%;"><img :src="banners[1].img" style="width: 100%;" /></a>
					</section>
					<section class="section1 section3">
						<div>
							<h1 class="title2">{{tradeTitle3[language]}}</h1>
							<img :src="tradeTitle3Img" style="padding: 0 0.08rem;" />
							<div class="clearfix">
								<div class="x-col4 tc" v-for="item in trades3">
									<a class="inline-block" :href="item.link" style="width: 100%;">
										<h5 style="color: #505050;">{{item.title}}</h5>
										<p style="color: #979797;white-space: nowrap;overflow: hidden;">{{item.instruction}}</p>
										<div class="trade1" :style="{backgroundImage: 'url('+item.img+')'}"></div>
									</a>
								</div>
							</div>
						</div>
						<a :href="banners[2].link" style="width: 100%;"><img :src="banners[2].img" style="width: 100%;" /></a>
					</section>
					<section class="section1 section4">
						<div>
							<h3>{{tradeTitle4[language]}}<a :href="tradeTitle4Link" class="fr">{{readMore[language]}}<span class="iconfont icon-right"></span></a></h3>
						</div>
						<div class="clearfix" v-for="item in trades4">
							<a style="display: block" :href="item.link">
								<div class="x-percent3">
									<img :src="item.img" />
								</div>
								<div class="x-percent7 tl">
									<h5>{{item.title}} <span>{{item.time}}</span></h5>
									<p>{{item.content}}</p>
								</div>
							</a>
						</div>
					</section>
				</div>
			</div>
			<footer class="clearfix footnav">
				<div v-for="(item,index) in menu" class="x-col3" :class="!index&&'active'">
					<a :href="item.link">
						<span class="mui-icon iconfont relative" :class="item.iconfont">
							<span v-if="index===2&&cartNum" class="mui-badge">{{cartNum}}</span>
						</span>
						<p>{{item.title[language]}}</p>
					</a>
				</div>
			</footer>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script id="qd2852155350679e8f5c2e9c8f5b65f3c4681166637d" src="https://wp.qiye.qq.com/qidian/2852155350/679e8f5c2e9c8f5b65f3c4681166637d" charset="utf-8" async defer></script>
		<script src="js/vue.min.js"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper-4.2.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>