<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的评论</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<style type="text/css">
			.deletebtn {
				position: absolute;
				top: 50%;
				right: 11px;
				padding: 4px 0 4px 8px;
				font-size: 0.16rem;
				border-left: 1px solid #efeaea;
				display: inline-block;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				text-decoration: none;
				-webkit-font-smoothing: antialiased;
			}
		</style>
	</head>

	<body>
		<div id="myCollect" class="comment order-pay my-collect">
			<header class="mui-bar mui-bar-nav bgwhite">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">{{pageTitle[language]}}</h1>
			</header>
			<div class="mui-content bgwhite" style="height: 100%;">
				<div v-if="orders.length">
					<a class="trade-link" v-for="item in orders" @tap="linkToDetails(item.link)" style="width: 100%;">
						<ul class="mui-row border-bottom relative clearfix" style="margin-right: 0;padding-bottom: 20px;">
							<li class="x-col3 relative">
								<div class="imgbox" :style="{backgroundImage: 'url('+item.img+')'}"></div>
								<p style="color: #1D7ED1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;position: absolute;text-align: center;">{{item.nick}}</p>
							</li>
							<li class="x-col6" style="padding-left: 0.2rem;">
								<p class="title" style="-webkit-line-clamp: 4;">{{item.content}}</p>
								<!--<p class="shops">{{shops+item.shops}}</p>
							<p class="red">{{unit+item.price}}</p>-->
							</li>
							<li class="x-col3" style="padding-left: 0.2rem;">
								<p class="deletebtn" v-html="item.time"></p>
							</li>
						</ul>
					</a>
				</div>
				<div v-else class="tc" style="line-height: 6;">
					{{none[language]}}
				</div>
			</div>
			<p v-if="orders.length" class="tc lh_300">{{allLoad[language]}}</p>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#myCollect',
				data: {
					language: localStorage.choose,
					userId: sessionStorage.user,
					pageTitle: ['我的评论', 'My comments', '私の評論'],
					avatar: sessionStorage.avatar,
					orders: [/*{
						link: 'details.html?id=21',
						img: 'img/trade.png',
						title: '盘龙云海排毒养颜片30片通便排毒去痘盘龙云海排毒养颜片30片通便排毒去痘',
						content: '盘龙云海排毒养颜片30片通便排毒去痘盘龙云海排毒养颜片30片通便排毒去痘盘龙云海排毒养颜片30片通便排毒去痘盘龙云海排毒养颜片30片通便排毒去痘',
						shops: '北京市仁和药业有限公司',
						price: 30
					}*/],
					/*unit: '￥',
					shops: '商家：',*/
					allLoad: ['已经全部加载完毕', 'All loaded', 'すべてロードされた'],
					none:['暂无评论','No comments','無論評']
				},
				mounted: function() {
					var that = this;
					document.getElementById('startLoading').style.display='none';
					mui.init({
						swipeBack: false
					});
					this.Axios = axios.create({
						baseURL: 'http://demo2.ruanwe.com/',
						timeout: 5000,
						headers: {
							'X-Requested-With': 'XMLHttpRequest',
							'accept': 'application/json'
						}
					});
					//获取订单
					this.Axios.get('api/comment/user', {
						params: {
							api_token: that.userId
						}
					}).then(function(r) {
						console.log(r);
						if(r.data.list.data.length) {
							r.data.list.data.forEach(function(item) {
								that.orders.push({
									link: 'details.html?id=' + item.id,
									img: that.avatar,
									title: item.content,
									nick: item.nick,
									content: item.content,
									time: item.updated_at.split(' ')[0] + '<br/>' + item.updated_at.split(' ')[1]
								});
							});
						}
						console.log(that.orders)
					}).catch(function(error) {
						console.log(error);
					});
				},
				methods: {
					linkToDetails: function(href) {
						mui.openWindow({
							url: href
						});
					}
				}
			});
		</script>
	</body>

</html>