<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="orderPay" class="comment order-pay">
			<header class="mui-bar mui-bar-nav bgwhite">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">{{pageTitle[language]}}</h1>
			</header>
			<div v-if="orders.length" class="mui-content bgwhite" style="height: 100%;">
				<ul class="mui-table-view mui-table-view-chevron" style="margin: 0;">
					<li class="mui-table-view-cell my-address">
						<a v-if="address" :href="addressList" class="mui-navigate-right">
							<p class="inline-block" style="font-size: 0.22rem;">{{name}}</p>
							<p class="inline-block">{{phoneNumber}}</p>
							<p class="address">{{address}}</p>
						</a>
						<a v-else @tap="addAddress" class="mui-navigate-right" style="line-height: 3;">
							{{addAdress[language]}}
						</a>
					</li>
				</ul>
				<ul v-for="item in orders" class="mui-row border-bottom relative clearfix">
					<li class="x-col3">
						<div class="imgbox" :style="{backgroundImage: 'url('+item.img+')'}"></div>
					</li>
					<li class="x-col6">
						<p class="title">{{item.title}}</p>
					</li>
					<li class="x-col3 tr">
						<p class="price">{{unit[language]+item.price}}</p>
						<p class="number">{{'x'+item.num}}</p>
					</li>
				</ul>
				<ul class="mui-row clearfix">
					<li class="fl">{{totalText[0][language]+totalNum+totalText[1][language]+'：'}}</li>
					<li class="fr red">{{unit[language]+totalPrice}}</li>
				</ul>
				<!--<ul class="mui-row clearfix">
					<li class="fl">{{payWayLabel}}</li>
					<li class="fr">{{payWayValue}}</li>
				</ul>-->
			</div>
			<nav v-if="orders.length" class="mui-bar mui-bar-tab foot-toolbar clearfix">
				<div class="fr">
					<span>{{amountPaid[language]}}：</span><span class="red">{{unit[language]+totalPrice}}</span>
					<a href="#openPayActionsheet">{{submitButton[language]}}</a>
				</div>
			</nav>
			<div id="openPayActionsheet" class="mui-popover mui-popover-action mui-popover-bottom my-actionsheet">
				<ul class="mui-table-view bgwhite">
					<li class="mui-table-view-cell">
						<p class="tc">{{payOptions.title[language]}}</p>
					</li>
					<li class="mui-table-view-cell" style="padding: 0 20%;">
						<form class="mui-input-group paybox">
							<div v-for="item in payOptions.ways" class="mui-input-row mui-radio mui-left">
								<label :for="item.id"><img :src="item.img"/></label>
								<input :id="item.id" type="radio" name="checkpayway" @change="checkway($event,item.id)">
							</div>
						</form>
					</li>
					<li class="mui-table-view-cell radius0">
						<a href="#" class="submit-pay radius0" @tap="makeOrder">{{payOptions.btn[language]}}</a>
					</li>
				</ul>
			</div>
			<div v-if="!(orders.length)" class="tc" style="padding-top: 1.4rem;">
				<!--<img class="vm" src="img/pay-success.png" style="width: 0.2rem;" /> <span class="vm">恭喜您！支付成功</span>-->
				<span class="vm">{{noOrders[language]}}</span>
			</div>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#orderPay',
				data: {
					language: localStorage.choose,
					userId: sessionStorage.user,
					addressId: null,
					checkedWay: '',
					pageTitle: ['我的订单', 'My orders', '私の注文'],
					name: '',
					phoneNumber: '',
					addressLink: 'address-edit.html',
					addressList: 'address-list.html',
					address: '',
					orders: [],
					totalNum: 0,
					totalText: [
						['共', 'sum ', '共に'],
						['件商品 应付全额', ' piece goods total price', 'へんしょうひん 総額']
					],
					payOptions: {
						title: ['请选择支付方式', 'select payment method', '支払い方法を選択する'],
						ways: [],
						btn: ['确认支付', 'Confirm Payment', '支払い確認']
					},
					isPaySuccess: false,
					payWayLabel: ['付款方式', 'payment method', '支払い方式'],
					payWayValue: ['在线支付', 'Online Pay', 'オンライン支払い'],
					amountPaid: ['实付金额', 'Amount paid', '実売額'],
					submitButton: ['提交订单', 'submit order', '注文を提出する'],
					addAdress: ['添加地址', 'Add Region', '住所を追加する'],
					unit: ['￥', '$', '￥'],
					noOrders: ['暂无订单', 'No orders', '注文がない'],
					loading:['加载中...','loading...','ローディング中']
				},
				computed: {
					totalPrice: function() {
						var total_price = 0;
						this.orders.forEach(function(item) {
							total_price += (Number(item.price) * item.num);
						});
						//console.log(total_price);
						return total_price;
					}
				},
				mounted: function() {
					var that = this;
					document.getElementById('startLoading').style.display = 'none';
					mui.init({
						swipeBack: false
					});
					that.Axios = axios.create({
						baseURL: 'http://demo2.ruanwe.com',
						timeout: 30000,
						headers: {
							'X-Requested-With': 'XMLHttpRequest'
						}
					});
					//订单/列表
					that.Axios.get('api/cart', {
						headers: {
							'accept': 'application/json'
						},
						params: {
							api_token: that.userId
						}
					}).then(function(r) {
						console.log(r);
						that.stores = [];
						that.checkedLists = [];
						if(r.data.data) {
							for(var key in r.data.data) {
								var item = r.data.data[key];
								if(item.is_check) {
									that.orders.push({
										img: item.cover,
										title: item.goods_name,
										price: item.price,
										num: item.num,
									});
								}
							}

							that.totalNum = that.orders.length;
						}
					}).catch(function(error) {
						console.log(error);
					});
					//获取支付方式
					that.Axios.get('api/payment', {
						params: {
							api_token: that.userId
						}
					}).then(function(r) {
						console.log(r);
						r.data.data.forEach(function(item) {
							that.payOptions.ways.push({
								check: false,
								id: item.pay_code,
								img: item.icon
							});
						});
					}).catch(function(error) {
						console.log(error);
					});
					//获取默认地址
					that.Axios.get('api/address/default', {
						params: {
							api_token: that.userId
						}
					}).then(function(r) {
						console.log(r);
						var data = r.data.data;
						that.addressId = data.id;
						that.address = data.country + data.province + data.city + data.district + data.address;
						that.name = data.consignee;
						that.phoneNumber = data.phone;
					}).catch(function(error) {
						console.log(error);
						if(error.response.status === 404) {
							that.address = '';
						}
					});
				},
				methods: {
					checkway: function(e, id) {
						e.target.checked && (this.checkedWay = id);
					},
					addAddress: function() {
						sessionStorage.currenteditaddress = '';
						mui.openWindow({
							url: 'address-edit.html'
						});
					},
					makeOrder: function() {
						var that = this;
						mui.showLoading(that.loading[that.language],'div');
						mui('#openPayActionsheet').popover('hide');
						if(that.checkedWay) {
							that.Axios.post('api/order', {
								api_token: that.userId,
								pay_code: that.checkedWay,
								address_id: that.addressId
							}).then(function(r) {
								console.log(r);
								that.linkToPay(r.data.data.id);
							}).catch(function(error) {
								console.log(error);
							});
						} else {
							mui.toast(that.payOptions.title[that.language]);
						}
					},
					linkToPay: function(id) {
						var that = this;
						that.Axios.get('api/order/pay/' + id, {
							params: {
								api_token: that.userId
							}
						}).then(function(r) {
							console.log(r);
							mui.hideLoading();
							mui.openWindow({
								url: r.data.pay_url
							});
							//mui.back();
						}).catch(function(error) {
							console.log(error);
						});
					}
				}
			});
			//扩展mui.showLoading
			(function($, window) {
				//显示加载框
				$.showLoading = function(message, type) {
					if($.os.plus && type !== 'div') {
						$.plusReady(function() {
							plus.nativeUI.showWaiting(message);
						});
					} else {
						var html = '';
						html += '<i class="mui-spinner mui-spinner-white"></i>';
						html += '<p class="text">' + (message || "数据加载中") + '</p>';

						//遮罩层
						var mask = document.getElementsByClassName("mui-show-loading-mask");
						if(mask.length == 0) {
							mask = document.createElement('div');
							mask.classList.add("mui-show-loading-mask");
							document.body.appendChild(mask);
							mask.addEventListener("touchmove", function(e) {
								e.stopPropagation();
								e.preventDefault();
							});
						} else {
							mask[0].classList.remove("mui-show-loading-mask-hidden");
						}
						//加载框
						var toast = document.getElementsByClassName("mui-show-loading");
						if(toast.length == 0) {
							toast = document.createElement('div');
							toast.classList.add("mui-show-loading");
							toast.classList.add('loading-visible');
							document.body.appendChild(toast);
							toast.innerHTML = html;
							toast.addEventListener("touchmove", function(e) {
								e.stopPropagation();
								e.preventDefault();
							});
						} else {
							toast[0].innerHTML = html;
							toast[0].classList.add("loading-visible");
						}
					}
				};

				//隐藏加载框
				$.hideLoading = function(callback) {
					if($.os.plus) {
						$.plusReady(function() {
							plus.nativeUI.closeWaiting();
						});
					}
					var mask = document.getElementsByClassName("mui-show-loading-mask");
					var toast = document.getElementsByClassName("mui-show-loading");
					if(mask.length > 0) {
						mask[0].classList.add("mui-show-loading-mask-hidden");
					}
					if(toast.length > 0) {
						toast[0].classList.remove("loading-visible");
						callback && callback();
					}
				}
			})(mui, window);
		</script>
	</body>

</html>