<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>搜索筛选</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>

	<body>
		<div id="search" class="search" style="height: 100%;" :class="!showSearch&&'hidden'">
			<header class="mui-bar mui-bar-nav bgwhite searchbar">
				<a v-show="!searhForm.active" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<div class="mui-title" :class="searhForm.active&&'active'">
					<div class="mui-input-row">
						<input ref="searchForm" class="mui-input-clear searchform" type="text" v-model="searhForm.value" :placeholder="searhForm.placeholder[language]" @focus="changeFormStyle" @blur="resetFormStyle" @keyup.enter="submitSearchContent($event)" />
					</div>
				</div>
				<span class="mui-icon mui-pull-right searhcancel" @tap="blurSearchForm">{{cancel[language]}}</span>
			</header>
			<div class="mui-bar bgwhite filterate">
				<div class="x-col4">
					<a href="#leftPopover" class="mui-btn mui-btn-block my-select">
						{{selectedKind.title}}
						<span class="iconfont icon-down"></span>
					</a>
				</div>
				<div class="x-col4">
					<a href="#middlePopover" class="mui-btn mui-btn-block my-select">
						{{selectedSort.title}}
						<span class="iconfont icon-down"></span>
					</a>
				</div>
			</div>
			<div id="pullrefresh" class="mui-content">
				<div class="mui-scroll" @scroll.passive="toggleSearchBar($event)">
					<ul v-if="trades.length" class="mui-row bgwhite">
						<li v-for="item in trades" class="mui-col-sm-6 mui-col-xs-6" style="padding: 0 0.1rem 0.1rem 0.2rem;">
							<a class="tradebox" @tap="linkToDetails(item.link)">
								<div class="tradeimg">
									<img :src="item.img" style="height: 100%;" />
								</div>
								<p class="title">{{item.title}}</p>
								<p class="price inline-block">{{unit[language]+item.price}}</p><s>{{item.market_price}}</s>
							</a>
						</li>
					</ul>
					<div v-else class="no-orders tc">
						<img src="img/nothing.png" />
						<p>{{nothing[language]}}</p>
					</div>
					<div v-show="loading" class="mui-backdrop" style="background-color: #F7F7F7;">
						<div class="mui-loading" style="position: relative;top: 30%;">
							<div class="mui-spinner"></div>
						</div>
					</div>
				</div>
			</div>
			<div id="leftPopover" class="mui-popover left-popover" style="height: 274px;">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li v-for="(item,index) in kinds" class="mui-table-view-cell">
								<a href="#" class="tc" @click.prevent="selectKind(index)" :class="item.active&&'active'">{{item.title}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="middlePopover" class="mui-popover left-popover" style="height: 100px;">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li v-for="(item,index) in sort" class="mui-table-view-cell">
								<a href="#" class="tc" @click.prevent="selectSort(index)" :class="item.active&&'active'">{{item.title}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/search.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>