<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="js/use-rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/shopingcart.css" />
	</head>

	<body>
		<div id="shopingCart" class="shoping-cart" style="padding-bottom: 60px;">
			<header id="header" class="mui-bar mui-bar-nav clearfix">
				<h1 class="mui-title">{{pageTitle[language]}}</h1>
				<span v-if="stores.length&&userId" class="cart-edit-button" @tap="toggleEdit">{{editButton[0][language]}}</span>
			</header>
			<div class="mui-bar cart-edit-box clearfix" :class="isEdit&&'active'" style="bottom: 60px;">
				<div class="custom-check mui-input-row mui-checkbox mui-pull-left mui-left check-all">
					<input name="checkbox" type="checkbox" class="check-box" style="left: 11px !important;" v-model="checkAllButton" @change="checkAllTrades">
					<label style="padding-left: 40px;padding-right: 0;">{{checkAll[language]}}</label>
				</div>
				<div class="fr" style="font-size: 0.18rem;">
					<button id="addToCollect" type="button" class="mui-btn mui-btn-warning mui-btn-outlined" @tap="moveToCollection" style="margin-right: 0;">{{moveToFavorite[language]}}</button>
					<button id="deleteTrade" type="button" class="mui-btn mui-btn-danger mui-btn-outlined" @tap="deleteTrade">{{del[language]}}</button>
				</div>
			</div>
			<nav v-if="stores.length&&userId" class="mui-bar mui-bar-tab foot-toolbar" :class="isEdit&&'hidden'">
				<div id="checkAll" class="custom-check mui-input-row mui-checkbox mui-pull-left mui-left check-all">
					<input name="checkbox" type="checkbox" class="check-box" v-model="checkAllButton" @change="checkAllTrades">
					<label>{{checkAll[language]}}</label>
				</div>
				<div id="checkOut" class="mui-pull-right cart-buy" :class="!isEdit&&'active'" @tap="linkToOrderpay">
					{{pay[language]+'（'+getCheckedNumber+'）'}}
				</div>
				<div class="mui-pull-right cart-tip" style="min-width: 1.6rem;">
					<p>{{sum[language]}}：<span class="red">{{unit[language]+totalPrice}}</span></p>
					<span class="icash">{{standBy[language]+':'+unit[language]+standByNum}}</span>
				</div>
			</nav>
			<div class="mui-content">
				<ul v-if="stores.length&&userId" id="cartList" class="cart-list">
					<li v-for="(item ,index) in stores" class="clearfix custom-check">
						<!--<h4 class="mui-table-view-cell">{{item.name}}</h4>-->
						<div v-for="(item2,i) in item.trades" class="trade-item">
							<div class="mui-checkbox">
								<input name="checkbox" type="checkbox" v-model="item2.is_check" @change="postCheckOption(item2.id)">
							</div>
							<div class="cart-img" :style="{backgroundImage: 'url('+item2.img+')'}"></div>
							<div class="cart-information">
								<h2>{{item2.name}}</h2>
								<p>{{item2.remark}}</p>
								<div class="clearfix">
									<div class="fl price">
										{{unit[language]+item2.price}}
									</div>
									<div class="mui-numbox" data-numbox-step='1' data-numbox-min='1'>
										<button class="mui-btn mui-numbox-btn-minus" type="button" @tap="minusNum(index,i,item)">-</button>
										<input class="mui-numbox-input" type="number" v-model="item2.num" />
										<button class="mui-btn mui-numbox-btn-plus" type="button" @tap="plusNum(index,i,item)">+</button>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<div v-else id="pullrefresh" class="mui-content mui-scroll-wrapper empty-cartbox" style="padding-bottom: 60px;">
					<div class="mui-scroll">
						<div class="empty-cart tc" style="padding-top: 44px;">
							<img src="img/cart.png" />
							<p class="tip1">{{empty.tip1[language]}}</p>
							<p v-show="!userId" class="tip2">{{empty.tip2[language]}}</p>
							<button v-show="!userId" @tap="linkToLogin" type="button" class="mui-btn mui-btn-primary loginbutton">{{login[language]}}</button>
							<p class="choiceness"><span>{{featured[language]}}</span></p>
						</div>
						<!--精选商品-->
						<ul class="mui-table-view mui-table-view-chevron mui-row">
							<li v-for="item in trades" class="mui-col-sm-6 mui-col-xs-6">
								<a class="tradebox" @tap="linkToDetails(item.link)">
									<div class="tradeimg" :style="{backgroundImage:'url('+item.img+')'}"></div>
									<p class="title">{{item.title}}</p>
									<div class="clearfix">
										<p class="price fl">{{unit[language]+item.price}}</p>
										<!--<p class="sales fr">{{monthSale+item.monthSale+pcs}}</p>-->
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<footer class="clearfix footnav">
				<div v-for="(item,index) in menu" class="x-col3" :class="index===2&&'active'">
					<a :href="item.link">
						<span class="mui-icon relative iconfont" :class="item.iconfont">
							<span v-if="index===2&&cartNum" class="mui-badge">{{cartNum}}</span>
						</span>
						<p>{{item.title[language]}}</p>
					</a>
				</div>
			</footer>
			<div id="startLoading" class="mui-loading" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2000;background-color: gainsboro;">
				<div class="mui-spinner" style="margin-top: 120px;width: 32px;height: 32px"></div>
			</div>
		</div>
		<script src="js/vue.min.js"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/shopingCart.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>