/*mui*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.index .mui-control-content {
	background-color: white;
	min-height: 215px;
}

.mui-control-content .mui-loading {
	margin-top: 50px;
}

.mui-table-view-cell:after {
	display: none;
}


/*公共样式*/

html,
body {
	width: 100%;
	height: 100%;
	background-color: #F7F7F7;
}

img {
	width: 100%;
}

.choose {
	width: 100%;
	height: 100%;
	background: #25A8FF;
	/* 一些不支持背景渐变的浏览器 */
	background: -webkit-linear-gradient(-135deg, #23A7FF, #A7F9FF);
	background: -moz-linear-gradient(-135deg, #23A7FF, #A7F9FF);
	position: relative;
}

.choose:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	background: url(../img/login-bg1.png) no-repeat bottom center;
	background-size: 100%;
}

.choose img {
	width: 100%;
	padding-top: 0.5rem;
}

.choose .buttons {
	position: absolute;
	bottom: 0.5rem;
	width: 100%;
	padding: 0 0.3rem;
	z-index: 20;
	text-align: center;
	font-size: 0.2rem;
}

.choose .buttons div {
	display: inline-block;
	background-color: white;
	width: 1rem;
	line-height: 2;
	color: #333333;
	box-shadow: 0 0 rgba(0, 0, 0, 0.3) 0.1rem;
}

.login header {
	height: 2.4rem;
	text-align: center;
	background: url(../img/login-bg.png) no-repeat top center;
	background-size: cover;
	line-height: 3;
	font-size: 0.24rem;
	color: white;
}

.footnav .x-col3 {
	text-align: center;
	height: 60px;
	padding-top: 8px;
	color: #666666;
}

.footnav a {
	display: inline-block;
	color: inherit;
}

.footnav .x-col3 p {
	font-size: 0.16rem;
	color: inherit;
}

.footnav .x-col3 .iconfont {
	text-align: center;
	font-size: 0.3rem;
	line-height: 1;
}

.footnav {
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	border-top: 1px solid #E8E8E8;
	z-index: 1000;
	background-color: #FFFFFF;
}

.footnav .x-col3.active {
	color: #35A0FC;
}

.login .tabHeader {
	text-align: center;
	line-height: 0.6rem;
	color: #999999;
	border-bottom: 1px solid #F7F7F7;
	position: relative;
	background-color: white;
}

.login .item {
	font-size: 0.18rem;
	cursor: pointer;
}

.login .item.active {
	color: #42A6FC;
}

.login .lineBottom {
	width: 50%;
	height: 4px;
	background-color: #42A6FC;
	position: absolute;
	left: 50%;
	bottom: 0;
	transition: all 0.2s ease-in-out;
}

.login .lineBottom.active {
	left: 0;
}

.login .tabBody {
	position: relative;
	width: 100%;
	font-size: 0.18rem;
	line-height: 0.6rem;
}

.login .tabBody ul {
	position: absolute;
	width: 200%;
	white-space: nowrap;
	left: -100%;
	transition: left 0.2s ease-in-out;
}

.login .tabBody ul.active {
	left: 0;
}

.login .tabBody li {
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}


/*.login .tabBody label {
	width: 25%;
	display: inline-block;
}*/


/*.login .tabBody input {
	width: 75%;
	height: 0.4rem;
	display: inline-block;
	border: 0;
	padding: 0 0.2rem;
	font-size: 0.18rem;
	margin-bottom: 0;
}*/

.login .mui-input-group>span {
	cursor: pointer;
	display: none;
	padding: 0.08rem;
	line-height: 1;
	position: absolute;
	bottom: 5px;
	left: 100%;
	width: 1rem;
	text-align: center;
	margin-left: -1.1rem;
	background-color: #42A6FC;
	color: white;
	border-radius: 0.08rem;
}

.login .tabBody span.active {
	display: inline-block;
}

.login .tabBody span.disabled {
	/*display: inline-block;*/
	background-color: #999999;
}

.login .tabBody .border {
	padding: 0 0.2rem;
	/*border-bottom: 1px solid #E8E8E8;*/
	background-color: white;
}

.login .tabBody .border0 {
	padding: 0 0.2rem;
	background-color: white;
}

.login-btn {
	display: block;
	width: 82%;
	line-height: 0.6rem;
	height: 0.6rem;
	text-align: center;
	font-size: 0.2rem;
	margin: 0.4rem auto;
	background-color: #42A6FC;
	color: white;
	border-radius: 0.08rem;
	padding: 0;
}

.login .third-part {
	padding: 0 0.4rem;
	font-size: 0.18rem;
}

.reset-step1 .third-part {
	padding: 0 0.2rem;
}

.login .line-through {
	text-align: center;
	position: relative;
	line-height: 0.6rem;
}

.login .line-through span {
	display: inline-block;
	position: relative;
	z-index: 10;
	background: #F7F7F7;
	padding: 0 0.4rem;
}

.login .line-through:before {
	position: absolute;
	content: '';
	width: 86%;
	top: 50%;
	left: 7%;
	height: 1px;
	background-color: #474747;
}

.login .third-part .tc {
	padding: 0.1rem 0.6rem;
}

.login .third-part a {
	display: inline-block;
	color: #2387dd;
}

.login .third-part a img {
	width: 0.5rem;
}

.login,
.register,
.pageslide {
	height: 100%;
	overflow-x: hidden;
}

.login .swiper-slide {
	overflow-x: hidden;
}

.login .readDeal {
	background: none;
	line-height: 0.6rem;
}

.login .readDeal input {
	width: 0.26rem;
	height: 0.26rem;
	border: 1px solid #C9C9C9;
	border-radius: 0.26rem;
	vertical-align: middle;
	display: inline-block;
	background: white;
	-webkit-appearance: none;
	margin-right: 0.1rem;
	position: relative;
	overflow: hidden;
}

.login .readDeal span {
	vertical-align: middle;
}

.login .readDeal .link {
	color: #42A6FC;
	vertical-align: middle;
}

.register .link {
	color: #42A6FC;
}

.login .readDeal input:checked {
	background: #42A6FC;
	border-color: #42A6FC;
}

.login .readDeal input:checked:after {
	position: absolute;
	left: 0.03rem;
	top: 0.03rem;
	width: 100%;
	height: 100%;
	content: "\e61d";
	font-family: "iconfont" !important;
	font-size: 0.18rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
}

.reset-step1 header {
	background: none;
	color: #474747;
	height: 1.2rem;
}

.reset-step1 .tabBody .border {
	background: inherit;
}

.reset-step1 .tabBody label {
	line-height: 2;
}


/*.reset-step1 .tabBody input {
	border: 1px solid #D9D9D9;
	width: 100%;
	height: 0.5rem;
	border-radius: 0.06rem;
	margin-bottom: 0.2rem;
}*/

.code-view {
	display: inline-block;
	background-color: white;
	line-height: 0.4rem;
	margin-left: 0.2rem;
	width: 0.98rem;
	border-radius: 0.06rem;
	cursor: pointer;
	text-align: center;
	background-color: #42A6FC;
	color: white;
}

.code-view.disabled {
	background-color: #C0C0C0;
}

.reset-step1 .login-btn {
	width: 100%;
	margin: 0.2rem auto 1.6rem;
}

.reset-step1 .icon-left {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 0.6rem;
	height: 0.72rem;
	line-height: 0.72rem;
	text-align: center;
	font-size: 0.24rem;
}

.top-search {
	width: 100%;
	height: 50px;
	line-height: 50px;
	/*position: fixed;*/
	left: 0;
	top: 0;
	padding: 0 0.83rem;
	z-index: 1000;
	background-color: #F4F4F4;
}

.top-search .logo {
	position: absolute;
	width: auto;
	height: 40px;
	left: 0.1rem;
	top: 5px;
}

.form-control input {
	border: 1px solid #35A0FC;
	width: 100%;
	height: 35px;
	border-radius: 0.4rem;
	padding: 0 0.2rem;
}

.form-control button {
	position: absolute;
	height: 34px;
	width: 0.9rem;
	right: 0.83rem;
	top: 8px;
	border: 0;
	background-color: #35A0FC;
	color: white;
	border-radius: 0.4rem;
}

.form-control .iconfont {
	font-size: 0.2rem;
}

.form-control .qq {
	height: 40px;
	width: 0.8rem;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: center;
	line-height: 34px;
	font-size: 0.3rem;
}

.swiper-slide img {
	width: 100%;
}

.indexslide {
	/*margin-top: 50px;*/
}

.index nav {
	padding: 0.1rem;
	margin: 0.1rem 0.1rem 0;
	position: relative;
	background-color: #FDFDFD;
	border-radius: 0.08rem;
}

.index nav li {
	padding: 0.1rem;
}

.index .menuico {
	width: 0.7rem;
}

.index nav a {
	color: inherit;
	font-size: 0.2rem;
}

.index nav dl {
	white-space: nowrap;
	font-size: 0.18rem;
	border-top: 1px solid #D6D6D6;
}

.index nav dd {
	height: auto;
	padding: 0.1rem 0.1rem 0;
}

.index nav dd img {
	display: inline-block;
	width: 0.26rem;
	vertical-align: middle;
}

.index h1 {
	font-weight: normal;
	font-size: 0.24rem;
	line-height: 2;
	text-align: center;
	background-size: contain;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FF9D9D), to(#FF9D03));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
}

.index h1::after {
	content: '';
	position: absolute;
	width: 50%;
	height: 100%;
	background: url(../img/title-bg1.png) no-repeat center center;
	background-size: contain;
	left: 25%;
	top: 0;
}

.index h1.title1 {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A0F487), to(#79BE65));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.index h1.title2 {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CD7AFD), to(#cc00ff));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.index h1.title1::after {
	background-image: url(../img/title-bg2.png);
	background-position-x: 10%;
}

.index h1.title2::after {
	background-image: url(../img/title-bg3.png);
	background-position-x: 20%;
}

.index .translate1 {
	/*transform: translateY(-1rem);*/
	margin-top: -60px;
	z-index: 100;
	position: relative;
}

.section1>div,
.section2>div {
	background-color: white;
	padding: 0.02rem 0;
	margin: 0.1rem;
	border-radius: 0.08rem;
}

.section1>div {
	margin: 0.1rem 0.1rem 0.16rem;
}

.section1 .inline-block {
	width: 80%;
	color: #3C3C3C;
}

.section1 img {
	width: 100%;
}

.section1 h5 {
	fons-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.section1 p {
	font-size: 0.12rem;
	color: red;
}

.section1 span {
	font-size: 0.16rem;
}

.section1 s {
	color: #929292;
}

.section1 .x-col4 {
	display: inline-block;
	padding: 0.2rem 0.1rem;
}

.section1 .clearfix {
	background-color: white;
	margin: 0 0.2rem 0.2rem;
	border-radius: 0.08rem;
}

.index h2 {
	font-size: 0.18rem;
	margin-top: 0.12rem;
	font-weight: normal;
	display: inline-block;
	padding: 0.1rem;
	border-radius: 0.1rem;
	background-color: rgba(255, 255, 255, 0.5);
	width: 80%;
}

.section2 {
	text-align: center;
	/*border: 0.1rem solid #F4F4F4;*/
	box-sizing: border-box;
}

.section2 h5 {
	font-size: 0.14rem;
	color: #454545;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 5px;
}

.section2 .clearfix .x-col4 {
	padding: 0.1rem 0.04rem;
}

.section2 .clearfix a {
	padding-top: 0.1rem;
	background-color: white;
	border-radius: 0.08rem;
	overflow: hidden;
	width: 100%;
}

.trade0 {
	width: 80%;
	height: 0;
	padding-bottom: 80%;
	background: no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}

.trade1 {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background: no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}

.section2 .clearfix a img {
	width: 80%;
}

.section2 p {
	font-size: 0.14rem;
	color: red;
}

.section2 span {
	font-size: 0.14rem;
}

.section2 s {
	color: #929292;
	font-size: 0.12rem;
}

.floor0 {
	background: no-repeat left bottom #FFA65B;
	background-size: cover;
}

.floor1 {
	background: no-repeat left bottom #FFD4D4;
	background-size: cover;
}

.floor2 {
	background: no-repeat left bottom #65ACDD;
	background-size: cover;
}

.floor3 {
	background: no-repeat left bottom #8FD4B9;
	background-size: cover;
}

.floor4 {
	background: no-repeat left bottom #A98FD4;
	background-size: cover;
}

.section3 {
	background-color: #F4F4F4;
	/*border: 0.1rem solid #F4F4F4;*/
	box-sizing: border-box;
}

.section3 .inline-block {
	background-color: #F9F9F9;
	width: 100%;
	padding: 0.1rem;
}

.section3 .x-col4 {
	display: inline-block;
	padding: 0.02rem;
}

.section3 .clearfix {
	margin: 0 0.06rem 0.06rem;
}

.section4 {
	background-color: white;
	border: 0.1rem solid #F4F4F4;
	box-sizing: border-box;
}

.section4 h3 {
	font-weight: normal;
	padding: 0.1rem;
	font-size: 0.24rem;
}

.section4 h3 a {
	font-size: 0.18rem;
	padding: 0.04rem 0;
}

.section4 .clearfix>a {
	font-size: 0;
}

.section4 .x-percent3 {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.section4 .x-percent7 {
	display: inline-block;
	vertical-align: middle;
	padding: 0.2rem;
	float: none;
}

.section4 h5 {
	font-size: 0.18rem;
	font-weight: normal;
	color: #474747;
	padding-top: 6px;
}

.section4 h5 span {
	color: #9A9A9A;
	font-size: 0.14rem;
}

.section4 p {
	font-size: 0.16rem;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	line-height: 1.6;
}

.trade-img {
	height: 1.2rem;
	background: no-repeat center center;
	background-size: contain;
}

.itemsin {
	height: 1.2rem;
	border-bottom: 1px solid #F1F1F1;
	padding: 0.1rem 0;
	color: #474747;
}

.itemsin>div {
	height: 1rem;
}

.itemsin h4 {
	line-height: 1.8;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 75%;
	font-size: 0.18rem;
	font-weight: normal;
	padding-left: 0.2rem;
	margin: 0;
}

.itemsin span {
	line-height: 1.8;
	font-size: 0.18rem;
	margin: 0;
}

.pricecolor {
	color: #ff6519;
}

.iteminlink {
	border-top: 0.06rem solid #F1F1F1;
	border-bottom: 0.03rem solid #F1F1F1;
	display: block;
	margin-bottom: 0 !important;
	padding: 11px 15px;
	margin: 0 -15px;
}

.iteminlink .mui-icon-arrowright {
	font-size: 0.24rem;
}

.buttonstyle0 {
	border: 1px solid #474747;
	color: #474747;
	padding: 0.02rem 0.1rem;
	margin-left: 0.3rem;
	text-align: center;
}

.buttonstyle1 {
	border: 1px solid #ff6519;
	color: #ff6519;
	padding: 0.02rem 0.1rem;
	text-align: center;
	margin-left: 0.3rem;
}

.no-orders img {
	padding: 0.6rem 0 0.3rem;
	width: 1.6rem !important;
}

.no-orders a {
	background-color: #50B4FF;
	color: white;
	padding: 0.04rem 0.1rem;
	font-size: 0.18rem;
	margin-top: 0.24rem;
}


/*list*/

.list {
	height: 100%;
	/*padding-bottom: 60px;*/
}

.list .mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
	background-color: white;
}

.list .mui-col-xs-3,
.list .mui-control-content {
	overflow-y: auto;
	height: 100%;
}

.list .mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
	border-right: 1px solid #c8c7cc;
}

.list .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	background-color: #fff;
	border-left: 0.06rem solid #5DB3FD;
	border-right-width: 0;
}

.list .mui-search .mui-placeholder {
	line-height: inherit;
	text-align: left;
	text-indent: 2rem;
}

.list .mui-input-row.mui-search.mui-active::before {
	line-height: 1;
}

input.x-search {
	display: inline-block;
	height: 30px;
	border-radius: 0.12rem;
	margin: 0;
	border-color: #35A0FC;
	font-size: 0.2rem;
}

.list .mui-bar .searchbutton {
	position: absolute;
	right: 0;
	top: 7px;
	height: 30px;
	border-radius: 0.12rem;
	border-color: #35A0FC;
	background-color: #35A0FC;
	;
	color: white;
}

.list .itembox {
	padding: 0;
	list-style: none;
	text-align: center;
}

.list .itembox img {
	padding: 0.1rem 0.1rem 0.04rem;
}

.list h4 {
	font-size: 0.2rem;
	font-weight: normal;
	padding: 0 0.1rem;
	color: #333333;
}

.list .itemli {
	border-top: 2px solid #F0F0F0;
	padding-left: 0;
	padding-right: 0;
}

.list .itemli:first-child {
	border: 0;
}

.list .itembox p {
	color: #333333;
	font-size: 0.16rem;
}

.list .mui-bar-nav {
	background-color: #F2F2F2;
}


/*comment*/

.comment .mui-input-row {
	/*border: 1px solid gray;*/
	background-color: white;
}

.comment .mui-input-row textarea {
	margin: 0;
	font-size: 0.18rem;
	border: 0;
}

.comment .submit {
	height: 44px;
	line-height: 44px;
}

.icon-star {
	font-size: 0.3rem;
	color: #999999;
	letter-spacing: 0.1rem;
}

.icon-star.active {
	color: #FFAE20;
}

.star-group {
	padding: 0.04rem 0;
}

.comment-stars-box {
	background-color: white;
	padding: 0.2rem;
	color: #666666;
}

.camera {
	border: 1px solid #C9C9C9;
	display: inline-block;
	text-align: center;
	padding: 0.1rem;
	margin: 0 0.2rem 0.2rem;
}

.camera .icon-camera {
	font-size: 0.4rem;
	line-height: 1;
	color: #999999;
}

.search .searchform {
	border-radius: 42px;
	margin: 5px 0;
	height: 32px;
	font-size: 0.2rem;
}

.search .mui-bar .mui-input-row .mui-input-clear~.mui-icon-clear {
	right: 5px;
	top: 7px;
	width: 30px;
	height: 30px;
	line-height: 30px;
}

.search .searhcancel {
	font-size: 0.2rem;
	height: 44px;
	line-height: 26px;
	padding-right: 5px !important;
	padding-left: 5px !important;
	transition: all 0.2s;
	transform: translateX(100%);
}

.search .mui-title.active {
	left: 0.2rem;
}

.search .mui-title.active+.searhcancel {
	transform: translateX(0);
}

.search .mui-bar .mui-title {
	transition: all 0.2s;
}

.search .my-select {
	border: 0;
	height: 38px;
}

.search .mui-bar {
	z-index: 1000;
}

.search .mui-popover .mui-popover-arrow {
	display: none;
}

.search .left-popover {
	width: 118px;
	height: 272px;
	border-radius: 0;
	transform: translateX(-10px);
}

.search .left-popover a.active {
	color: #3a80ff;
}
.tradebox {
	width: 100%;
}
.tradebox .tradeimg {
	height: 1.6rem;
	padding: 0.1rem 0;
	text-align: center;
}

.tradebox .tradeimg img {
	height: 100%;
	width: auto;
}

.tradebox .title {
	color: #474747;
	line-height: 1.5;
	min-height: 0.6rem;
	font-size: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.tradebox .price {
	color: red;
	line-height: 2;
}
.tradebox s{
	font-size: 0.14rem;
}
.search .searchbar {
	transition: all 0.2s;
}

.search .filterate {
	top: 44px;
	transition: all 0.2s;
}

.search .mui-content {
	height: 100%;
	padding-top: 88px;
	transition: all 0.2s;
}

.search .mui-scroll {
	/*height: 100%;*/
	overflow-y: auto;
	position: static;
	/*padding-top: 88px;
	transition: all 0.2s;*/
}

.health-info .imgbox {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background: no-repeat center center;
	background-size: contain;
}

.health-info .msgbox {
	padding: 0.1rem 0.2rem 0.1rem;
	font-size: 0;
}

.health-info .msgbox .x-col3 {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.health-info .msgbox .x-col9 {
	padding-left: 0.2rem;
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.health-info .x-col9 h5 {
	margin: 0;
	display: inline-block;
	color: #333333;
	font-size: 0.2rem;
}

.health-info .x-col9 span {
	font-size: 0.14rem;
	color: #999999;
	line-height: 1;
	padding-left: 0.1rem;
}

.health-info .x-col9 p {
	font-size: 0.16rem;
	line-height: 1.4;
	color: #999999;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.health-info-details .title {
	color: #333333;
	font-size: 0.2rem;
	line-height: 2;
	margin: 0;
}

.health-info-details .time {
	font-size: 0.14rem;
	color: #999999;
}

.health-info-details .content {
	font-size: 0.16rem;
	color: #999999;
}

.order-pay .inline-block {
	color: #474747;
	font-size: 0.2rem;
}

.order-pay .address {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.14rem;
}

.my-address {
	position: relative;
}

.my-address::before {
	content: ' ';
	width: 100%;
	height: 3px !important;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/address-bg.png) repeat-x center center;
	background-size: 0.5rem 100%;
}

.order-pay .imgbox {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background: no-repeat center center;
	background-size: contain;
}

.order-pay .mui-row {
	background-color: white;
	padding: 0.1rem 0.2rem;
	border-bottom: 8px solid #F7F7F7;
	font-size: 0.18rem;
}

.order-pay .mui-row.border-bottom {
	margin: 0.06rem 0.2rem 0;
    padding: 0.1rem 0;
    border-bottom: 1px solid #dfdee2;
}

.order-pay .title {
	color: #474747;
	padding-left: 0.2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.order-pay .red {
	color: red;
}

.order-pay .foot-toolbar {
	background-color: white;
}

.order-pay .foot-toolbar span,
.order-pay .foot-toolbar button {
	line-height: 50px;
	padding: 0;
}

.order-pay .foot-toolbar a {
	padding: 0 0.2rem;
	background-color: #FF6E41;
	color: white;
	border-radius: 0;
	margin-left: 0.1rem;
	line-height: 50px;
}

.my-collect .title {
	-webkit-line-clamp: 2;
	padding-left: 0;
}

.my-collect .mui-row.border-bottom {
	border-bottom: 0;
}

.my-collect .trade-link {
	border-top: 6px solid #F7F7F7;
}

.my-collect .shops {
	font-size: 0.12rem;
}

.my-collect .red {
	padding-top: 0.06rem;
}

.paybox .mui-input-row label {
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.paybox .mui-input-row label img {
	height: 100%;
	width: auto;
}

.paybox .mui-input-row::after {
	display: none;
}

.paybox::after {
	display: none;
}

.my-actionsheet .mui-table-view-cell.mui-active {
	background-color: inherit;
}

.submit-pay {
	background-color: #25ABEE;
	color: white !important;
}

.address-edit .mui-input-row input {
	border: 0;
	border-bottom: 1px solid #eaeaea;
	border-radius: 0;
	font-size: 0.18rem;
	margin: 0.1rem 0;
}

.register .mui-input-row {
	padding: 0 0.24rem;
}

.register .mui-input-row:after {
	left: 0;
}

.register label {
	font-size: 0.18rem;
}

.register input {
	font-size: 0.18rem;
	float: left;
}

.register .mui-input-row:nth-child(2) input {
	width: 40%;
	float: left;
}

.get-code {
	width: 1rem;
	height: 30px;
	font-size: 0.16rem;
	background-color: #42A6FC;
	color: white;
	position: absolute;
	top: 5px;
	right: 0.1rem;
	text-align: center;
	line-height: 30px;
	border-radius: 0.05rem;
}

.get-code:active {
	background-color: #0062cc;
}

.get-code.disabled {
	background-color: #aaa;
}

.login .mui-input-group .mui-input-row:after {
	left: 0;
}

.login input {
	font-size: 0.18rem;
}

.border0.mui-input-row:after {
	display: none;
}

.login .mui-input-group:after {
	display: none;
}

.login .mui-input-row label {
	font-size: 0.18rem;
	line-height: 18px;
}

.orders .mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: inherit;
}
.list-imgbox{
	width: 80%;
	height: 0;
	padding-bottom: 80%;
	margin: 0 auto;
	background: gainsboro no-repeat center center;
	background-size: cover;
}
/*----------------mui.showLoading---------------*/
.mui-show-loading {
    position: fixed;
    padding: 5px;
    width: 120px;
    min-height: 120px;
    top: 45%;
    left: 50%;
    margin-left: -60px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    visibility: hidden;
    margin: 0;
    z-index: 2000;

    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    opacity: 0;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.mui-show-loading.loading-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
}
.mui-show-loading .mui-spinner{
    margin-top: 24px;
    width: 36px;
    height: 36px;
}
.mui-show-loading .text {
    line-height: 1.6;
    font-family: -apple-system-font,"Helvetica Neue",sans-serif;
    font-size: 14px;
    margin: 10px 0 0;
    color: #fff;
}

.mui-show-loading-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.mui-show-loading-mask-hidden{
    display: none !important;
}